In [8]:
from stocksent import Sentiment
import yfinance as yf
import pandas as pd
%load_ext autoreload
%autoreload 2

days_back = 730

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2015-01-01", end="2024-04-30")

[*********************100%%**********************]  1 of 1 completed

In [9]:
ticker_list = pd.read_csv("s&p.csv")["Symbol"].tolist()
print(len(ticker_list))
tickers = yf.Tickers(" ".join(ticker_list))

503

In [14]:
for ticker in tickers.tickers.keys():
    print(ticker)
    print(tickers.tickers[ticker].info)
    break

MSFT
{'address1': 'One Microsoft Way', 'city': 'Redmond', 'state': 'WA', 'zip': '98052-6399', 'country': 'United States', 'phone': '425 882 8080', 'website': 'https://www.microsoft.com', 'industry': 'Software - Infrastructure', 'industryKey': 'software-infrastructure', 'industryDisp': 'Software - Infrastructure', 'sector': 'Technology', 'sectorKey': 'technology', 'sectorDisp': 'Technology', 'longBusinessSummary': 'Microsoft Corporation develops and supports software, services, devices and solutions worldwide. The Productivity and Business Processes segment offers office, exchange, SharePoint, Microsoft Teams, office 365 Security and Compliance, Microsoft viva, and Microsoft 365 copilot; and office consumer services, such as Microsoft 365 consumer subscriptions, Office licensed on-premises, and other office services. This segment also provides LinkedIn; and dynamics business solutions, including Dynamics 365, a set of intelligent, cloud-based applications across ERP, CRM, power apps, and power automate; and on-premises ERP and CRM applications. The Intelligent Cloud segment offers server products and cloud services, such as azure and other cloud services; SQL and windows server, visual studio, system center, and related client access licenses, as well as nuance and GitHub; and enterprise services including enterprise support services, industry solutions, and nuance professional services. The More Personal Computing segment offers Windows, including windows OEM licensing and other non-volume licensing of the Windows operating system; Windows commercial comprising volume licensing of the Windows operating system, windows cloud services, and other Windows commercial offerings; patent licensing; and windows Internet of Things; and devices, such as surface, HoloLens, and PC accessories. Additionally, this segment provides gaming, which includes Xbox hardware and content, and first- and third-party content; Xbox game pass and other subscriptions, cloud gaming, advertising, third-party disc royalties, and other cloud services; and search and news advertising, which includes Bing, Microsoft News and Edge, and third-party affiliates. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.', 'fullTimeEmployees': 221000, 'companyOfficers': [{'maxAge': 1, 'name': 'Mr. Satya  Nadella', 'age': 56, 'title': 'Chairman & CEO', 'yearBorn': 1967, 'fiscalYear': 2023, 'totalPay': 9276400, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Bradford L. Smith LCA', 'age': 64, 'title': 'President & Vice Chairman', 'yearBorn': 1959, 'fiscalYear': 2023, 'totalPay': 3591277, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Amy E. Hood', 'age': 51, 'title': 'Executive VP & CFO', 'yearBorn': 1972, 'fiscalYear': 2023, 'totalPay': 3452196, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Judson B. Althoff', 'age': 49, 'title': 'Executive VP & Chief Commercial Officer', 'yearBorn': 1974, 'fiscalYear': 2023, 'totalPay': 3355797, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Christopher David Young', 'age': 51, 'title': 'Executive Vice President of Business Development, Strategy & Ventures', 'yearBorn': 1972, 'fiscalYear': 2023, 'totalPay': 2460507, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Alice L. Jolla', 'age': 56, 'title': 'Corporate VP & Chief Accounting Officer', 'yearBorn': 1967, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. James Kevin Scott', 'age': 51, 'title': 'Executive VP of AI & CTO', 'yearBorn': 1972, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Brett  Iversen', 'title': 'Vice President of Investor Relations', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Hossein  Nowbar', 'title': 'Chief Legal Officer', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Frank X. Shaw', 'title': 'Chief Communications Officer', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}], 'auditRisk': 3, 'boardRisk': 5, 'compensationRisk': 2, 'shareHolderRightsRisk': 2, 'overallRisk': 1, 'governanceEpochDate': 1714521600, 'compensationAsOfEpochDate': 1703980800, 'irWebsite': 'http://www.microsoft.com/investor/default.aspx', 'maxAge': 86400, 'priceHint': 2, 'previousClose': 427.0, 'open': 427.21, 'dayLow': 424.41, 'dayHigh': 431.055, 'regularMarketPreviousClose': 427.0, 'regularMarketOpen': 427.21, 'regularMarketDayLow': 424.41, 'regularMarketDayHigh': 431.055, 'dividendRate': 3.0, 'dividendYield': 0.0069999998, 'exDividendDate': 1715731200, 'payoutRatio': 0.24780001, 'fiveYearAvgDividendYield': 0.94, 'beta': 0.893, 'trailingPE': 37.30789, 'forwardPE': 32.440422, 'volume': 11855285, 'regularMarketVolume': 11855285, 'averageVolume': 19757708, 'averageVolume10days': 17052790, 'averageDailyVolume10Day': 17052790, 'marketCap': 3197082271744, 'fiftyTwoWeekLow': 309.45, 'fiftyTwoWeekHigh': 433.6, 'priceToSalesTrailing12Months': 13.513519, 'fiftyDayAverage': 416.2698, 'twoHundredDayAverage': 376.96725, 'trailingAnnualDividendRate': 2.93, 'trailingAnnualDividendYield': 0.006861827, 'currency': 'USD', 'enterpriseValue': 3223296671744, 'profitMargins': 0.36426997, 'floatShares': 7421528951, 'sharesOutstanding': 7432309760, 'sharesShort': 49773013, 'sharesShortPriorMonth': 55771473, 'sharesShortPreviousMonthDate': 1711584000, 'dateShortInterest': 1714435200, 'sharesPercentSharesOut': 0.0067000003, 'heldPercentInsiders': 0.00054000004, 'heldPercentInstitutions': 0.73667, 'shortRatio': 2.48, 'shortPercentOfFloat': 0.0067000003, 'impliedSharesOutstanding': 7493570048, 'bookValue': 34.058, 'priceToBook': 12.630219, 'lastFiscalYearEnd': 1688083200, 'nextFiscalYearEnd': 1719705600, 'mostRecentQuarter': 1711843200, 'earningsQuarterlyGrowth': 0.199, 'netIncomeToCommon': 86181003264, 'trailingEps': 11.53, 'forwardEps': 13.26, 'pegRatio': 2.25, 'lastSplitFactor': '2:1', 'lastSplitDate': 1045526400, 'enterpriseToRevenue': 13.624, 'enterpriseToEbitda': 25.749, '52WeekChange': 0.29875302, 'SandP52WeekChange': 0.26137078, 'lastDividendValue': 0.75, 'lastDividendDate': 1715731200, 'exchange': 'NMS', 'quoteType': 'EQUITY', 'symbol': 'MSFT', 'underlyingSymbol': 'MSFT', 'shortName': 'Microsoft Corporation', 'longName': 'Microsoft Corporation', 'firstTradeDateEpochUtc': 511108200, 'timeZoneFullName': 'America/New_York', 'timeZoneShortName': 'EDT', 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62', 'messageBoardId': 'finmb_21835', 'gmtOffSetMilliseconds': -14400000, 'currentPrice': 430.16, 'targetHighPrice': 600.0, 'targetLowPrice': 397.92, 'targetMeanPrice': 481.74, 'targetMedianPrice': 477.33, 'recommendationMean': 1.7, 'recommendationKey': 'buy', 'numberOfAnalystOpinions': 47, 'totalCash': 80013000704, 'totalCashPerShare': 10.766, 'ebitda': 125182001152, 'totalDebt': 106228998144, 'quickRatio': 1.132, 'currentRatio': 1.242, 'totalRevenue': 236583993344, 'debtToEquity': 41.963, 'revenuePerShare': 31.834, 'returnOnAssets': 0.15295, 'returnOnEquity': 0.38487998, 'freeCashflow': 61497999360, 'operatingCashflow': 110122999808, 'earningsGrowth': 0.2, 'revenueGrowth': 0.17, 'grossMargins': 0.69894, 'ebitdaMargins': 0.52911997, 'operatingMargins': 0.44588003, 'financialCurrency': 'USD', 'trailingPegRatio': 2.1289}

In [18]:
# data = yf.download(" ".join(ticker_list), period="5y")
data = yf.download(" ".join(ticker_list), start="2015-01-01", end="2024-04-30")

[*********************100%%**********************]  503 of 503 completed

In [19]:
data.head()

Price       Adj Close                                                   \
Ticker              A        AAL       AAPL       ABBV ABNB        ABT
Date
2015-01-02  37.551193  51.079910  24.402172  44.314426  NaN  37.481438
2015-01-05  36.847561  51.051495  23.714724  43.480469  NaN  37.489784
2015-01-06  36.273560  50.255585  23.716959  43.265251  NaN  37.064041
2015-01-07  36.754982  50.227154  24.049517  45.013901  NaN  37.364567
2015-01-08  37.856712  50.843037  24.973560  45.484673  NaN  38.132553

Price                                                   ...  Volume           \
Ticker           ACGL        ACN       ADBE        ADI  ...     WTW       WY
Date                                                    ...
2015-01-02  19.496668  75.950935  72.339996  45.635735  ...  209022  2426600
2015-01-05  19.379999  74.668556  71.980003  44.805843  ...  343789  2385400
2015-01-06  19.423332  74.129921  70.529999  43.754105  ...  347338  3405900
2015-01-07  19.536667  75.685883  71.110001  44.214241  ...  348357  2872700
2015-01-08  19.876667  76.840042  72.919998  44.994820  ...  343147  3004500

Price                                                                      \
Ticker         WYNN      XEL       XOM      XYL      YUM      ZBH    ZBRA
Date
2015-01-02  2228900  2534900  10220400   605900  2283466   936579  411800
2015-01-05  1695100  3107200  18502400  1369900  4418651  2223873  420300
2015-01-06  1975800  4749600  16670700  1333200  5004401  1835563  527500
2015-01-07  1472000  2833400  13590700  1038600  4554134  1505860  467800
2015-01-08  1676600  2516800  15487500   821800  4258268  1449004  324400

Price
Ticker          ZTS
Date
2015-01-02  1784200
2015-01-05  3112100
2015-01-06  3977200
2015-01-07  2481800
2015-01-08  3121300

[5 rows x 3018 columns]

In [21]:
# save data
data.to_csv("s&p_data.csv")

In [17]:
data.columns

MultiIndex([('Adj Close',    'A'),
            ('Adj Close',  'AAL'),
            ('Adj Close', 'AAPL'),
            ('Adj Close', 'ABBV'),
            ('Adj Close', 'ABNB'),
            ('Adj Close',  'ABT'),
            ('Adj Close', 'ACGL'),
            ('Adj Close',  'ACN'),
            ('Adj Close', 'ADBE'),
            ('Adj Close',  'ADI'),
            ...
            (   'Volume',  'WTW'),
            (   'Volume',   'WY'),
            (   'Volume', 'WYNN'),
            (   'Volume',  'XEL'),
            (   'Volume',  'XOM'),
            (   'Volume',  'XYL'),
            (   'Volume',  'YUM'),
            (   'Volume',  'ZBH'),
            (   'Volume', 'ZBRA'),
            (   'Volume',  'ZTS')],
           names=['Price', 'Ticker'], length=3018)

In [27]:
stock = Sentiment('MSFT')
sentiment_score = stock.get_sentiment(days=days_back)
print(sentiment_score)  # Returns a float with the sentiment score.

0.0938

In [28]:
# from stocksent import Sentiment
stock = Sentiment('MSFT')
sentiment_score = stock.get_dataframe(days=days_back)
print(sentiment_score)  # Returns a float with the sentiment score.

   ticker        date     time            source  \
0    MSFT  2024-05-02  08:50PM      (TechCrunch)
1    MSFT  2024-05-02  07:38PM       (Bloomberg)
2    MSFT  2024-05-02  05:47PM   (Yahoo Finance)
3    MSFT  2024-05-02  05:15PM  (Insider Monkey)
4    MSFT  2024-05-02  04:43PM        (Benzinga)
..    ...         ...      ...               ...
95   MSFT  2024-05-01  12:17AM         (Reuters)
96   MSFT  2024-05-01  12:16AM         (Reuters)
97   MSFT  2024-05-01  12:12AM         (Reuters)
98   MSFT  2024-04-30  11:56PM       (Bloomberg)
99   MSFT  2024-04-30  09:34PM    (Investopedia)

                                             headline  Negative  Neutral  \
0   Microsoft bans US police departments from usin...     0.000    1.000
1   Microsoft Adds Security Chiefs to Product Grou...     0.190    0.654
2   Apple CEO Tim Cook boasts of future AI plans a...     0.000    1.000
3   Bitbot's Presale Passes $3M After AI Developme...     0.000    1.000
4   Microsoft's $75B Acquisition of Activision Cle...     0.000    0.887
..                                                ...       ...      ...
95  RPT-Microsoft to open first regional data cent...     0.000    1.000
96  Microsoft to open first regional data centre i...     0.000    1.000
97  Microsoft to power data centres with Brookfiel...     0.000    1.000
98  Microsofts CEO Adds AI for Thailand on Southea...     0.000    1.000
99  AMD Stock Tumbles as Full-Year Data Center Out...     0.245    0.755

    Positive  Overall
0      0.000   0.0000
1      0.157  -0.1280
2      0.000   0.0000
3      0.000   0.0000
4      0.113   0.1027
..       ...      ...
95     0.000   0.0000
96     0.000   0.0000
97     0.000   0.0000
98     0.000   0.0000
99     0.000  -0.3818

[100 rows x 9 columns]

In [21]:
print(len(sentiment_score))

100

In [23]:
# filter sentiment score based on if the time of the article was before the market open (column is named time)
sentiment_score = sentiment_score[sentiment_score['time'] < '09:30:00'] # ???

In [24]:
print(len(sentiment_score))

70

In [25]:
print(sentiment_score)

   ticker        date     time                       source  \
8    MSFT  2024-05-01  08:03AM               (MT Newswires)
9    MSFT  2024-05-01  07:30AM                (Motley Fool)
10   MSFT  2024-05-01  07:30AM              (InvestorPlace)
11   MSFT  2024-05-01  07:30AM                (Motley Fool)
12   MSFT  2024-05-01  06:54AM               (MT Newswires)
..    ...         ...      ...                          ...
95   MSFT  2024-04-29  05:21PM                (Barrons.com)
96   MSFT  2024-04-29  04:53PM        (Yahoo Finance Video)
97   MSFT  2024-04-29  04:30PM              (InvestorPlace)
98   MSFT  2024-04-29  04:14PM                    (CNBC TV)
99   MSFT  2024-04-29  04:09PM  (Investor's Business Daily)

                                             headline  Negative  Neutral  \
8   Microsoft Strikes Deal With Brookfield to Back...     0.160    0.705
9   Microsoft's Earnings Results Show It's Deliver...     0.000    0.714
10  3 Spatial Computing Stocks That Will Dominate ...     0.143    0.857
11       2 Dominant AI Companies to Buy and 1 to Sell     0.000    1.000
12  Brookfield Up 1% in U.S. Premarket After Renew...     0.000    0.775
..                                                ...       ...      ...
95  Arista Stock Has Been Under Pressure. Why an A...     0.145    0.855
96  AI tech battle: Pick Microsoft over Meta, anal...     0.245    0.755
97  AI Jackpot: 7 Machine Learning Stocks to Doubl...     0.000    1.000
98  Microsoft and Alphabet demonstrated the curren...     0.000    0.833
99  Amazon Earnings Preview: Investors Watching AW...     0.000    0.677

    Positive  Overall
8      0.135  -0.1027
9      0.286   0.7003
10     0.000  -0.1280
11     0.000   0.0000
12     0.225   0.4939
..       ...      ...
95     0.000  -0.2960
96     0.000  -0.3818
97     0.000   0.0000
98     0.167   0.3818
99     0.323   0.5106

[70 rows x 9 columns]

In [15]:
# select historical ranges of dates
msft = yf.Ticker("MSFT")
hist = msft.history(period="2y") # 5 years of data
# msft.history_metadata

In [16]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-05-01 00:00:00-04:00,124.250505,124.364728,121.556648,121.727989,26821700,0.0,0.0
2019-05-02 00:00:00-04:00,121.823182,121.842217,119.481521,120.138329,27350200,0.0,0.0
2019-05-03 00:00:00-04:00,121.233013,123.203423,121.128305,122.698921,24911100,0.0,0.0
2019-05-06 00:00:00-04:00,120.309660,122.375265,120.043132,121.984985,24239800,0.0,0.0
2019-05-07 00:00:00-04:00,120.376310,121.061674,118.244073,119.481529,36017700,0.0,0.0

In [17]:
# randomly select 30 days of data
import random
import numpy as np

random.seed(42)
random_dates = random.sample(list(hist.index), 30)
random_dates = np.sort(random_dates)
random_dates

array([Timestamp('2019-05-20 00:00:00-0400', tz='America/New_York'),
       Timestamp('2019-07-15 00:00:00-0400', tz='America/New_York'),
       Timestamp('2019-07-18 00:00:00-0400', tz='America/New_York'),
       Timestamp('2019-07-29 00:00:00-0400', tz='America/New_York'),
       Timestamp('2019-08-02 00:00:00-0400', tz='America/New_York'),
       Timestamp('2020-01-14 00:00:00-0500', tz='America/New_York'),
       Timestamp('2020-02-03 00:00:00-0500', tz='America/New_York'),
       Timestamp('2020-02-28 00:00:00-0500', tz='America/New_York'),
       Timestamp('2020-03-26 00:00:00-0400', tz='America/New_York'),
       Timestamp('2020-06-17 00:00:00-0400', tz='America/New_York'),
       Timestamp('2020-08-14 00:00:00-0400', tz='America/New_York'),
       Timestamp('2020-12-09 00:00:00-0500', tz='America/New_York'),
       Timestamp('2021-02-08 00:00:00-0500', tz='America/New_York'),
       Timestamp('2021-02-12 00:00:00-0500', tz='America/New_York'),
       Timestamp('2021-02-23 00:00:00-0500', tz='America/New_York'),
       Timestamp('2021-03-22 00:00:00-0400', tz='America/New_York'),
       Timestamp('2021-04-27 00:00:00-0400', tz='America/New_York'),
       Timestamp('2021-07-26 00:00:00-0400', tz='America/New_York'),
       Timestamp('2021-08-03 00:00:00-0400', tz='America/New_York'),
       Timestamp('2022-02-02 00:00:00-0500', tz='America/New_York'),
       Timestamp('2022-09-27 00:00:00-0400', tz='America/New_York'),
       Timestamp('2022-10-04 00:00:00-0400', tz='America/New_York'),
       Timestamp('2022-10-05 00:00:00-0400', tz='America/New_York'),
       Timestamp('2022-12-21 00:00:00-0500', tz='America/New_York'),
       Timestamp('2023-06-08 00:00:00-0400', tz='America/New_York'),
       Timestamp('2023-10-05 00:00:00-0400', tz='America/New_York'),
       Timestamp('2023-11-21 00:00:00-0500', tz='America/New_York'),
       Timestamp('2024-02-14 00:00:00-0500', tz='America/New_York'),
       Timestamp('2024-02-20 00:00:00-0500', tz='America/New_York'),
       Timestamp('2024-03-22 00:00:00-0400', tz='America/New_York')],
      dtype=object)