In [26]:
from stocksent import Sentiment
import yfinance as yf
%load_ext autoreload
%autoreload 2

days_back = 730

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%%**********************]  1 of 1 completed

In [2]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,199.200638,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,200.385757,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,200.226501,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,200.942856,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,200.279572,46939700

In [27]:
stock = Sentiment('MSFT')
sentiment_score = stock.get_sentiment(days=days_back)
print(sentiment_score)  # Returns a float with the sentiment score.

0.0938

In [28]:
# from stocksent import Sentiment
stock = Sentiment('MSFT')
sentiment_score = stock.get_dataframe(days=days_back)
print(sentiment_score)  # Returns a float with the sentiment score.

   ticker        date     time            source  \
0    MSFT  2024-05-02  08:50PM      (TechCrunch)
1    MSFT  2024-05-02  07:38PM       (Bloomberg)
2    MSFT  2024-05-02  05:47PM   (Yahoo Finance)
3    MSFT  2024-05-02  05:15PM  (Insider Monkey)
4    MSFT  2024-05-02  04:43PM        (Benzinga)
..    ...         ...      ...               ...
95   MSFT  2024-05-01  12:17AM         (Reuters)
96   MSFT  2024-05-01  12:16AM         (Reuters)
97   MSFT  2024-05-01  12:12AM         (Reuters)
98   MSFT  2024-04-30  11:56PM       (Bloomberg)
99   MSFT  2024-04-30  09:34PM    (Investopedia)

                                             headline  Negative  Neutral  \
0   Microsoft bans US police departments from usin...     0.000    1.000
1   Microsoft Adds Security Chiefs to Product Grou...     0.190    0.654
2   Apple CEO Tim Cook boasts of future AI plans a...     0.000    1.000
3   Bitbot's Presale Passes $3M After AI Developme...     0.000    1.000
4   Microsoft's $75B Acquisition of Activision Cle...     0.000    0.887
..                                                ...       ...      ...
95  RPT-Microsoft to open first regional data cent...     0.000    1.000
96  Microsoft to open first regional data centre i...     0.000    1.000
97  Microsoft to power data centres with Brookfiel...     0.000    1.000
98  Microsofts CEO Adds AI for Thailand on Southea...     0.000    1.000
99  AMD Stock Tumbles as Full-Year Data Center Out...     0.245    0.755

    Positive  Overall
0      0.000   0.0000
1      0.157  -0.1280
2      0.000   0.0000
3      0.000   0.0000
4      0.113   0.1027
..       ...      ...
95     0.000   0.0000
96     0.000   0.0000
97     0.000   0.0000
98     0.000   0.0000
99     0.000  -0.3818

[100 rows x 9 columns]

In [21]:
print(len(sentiment_score))

100

In [23]:
# filter sentiment score based on if the time of the article was before the market open (column is named time)
sentiment_score = sentiment_score[sentiment_score['time'] < '09:30:00'] # ???

In [24]:
print(len(sentiment_score))

70

In [25]:
print(sentiment_score)

   ticker        date     time                       source  \
8    MSFT  2024-05-01  08:03AM               (MT Newswires)
9    MSFT  2024-05-01  07:30AM                (Motley Fool)
10   MSFT  2024-05-01  07:30AM              (InvestorPlace)
11   MSFT  2024-05-01  07:30AM                (Motley Fool)
12   MSFT  2024-05-01  06:54AM               (MT Newswires)
..    ...         ...      ...                          ...
95   MSFT  2024-04-29  05:21PM                (Barrons.com)
96   MSFT  2024-04-29  04:53PM        (Yahoo Finance Video)
97   MSFT  2024-04-29  04:30PM              (InvestorPlace)
98   MSFT  2024-04-29  04:14PM                    (CNBC TV)
99   MSFT  2024-04-29  04:09PM  (Investor's Business Daily)

                                             headline  Negative  Neutral  \
8   Microsoft Strikes Deal With Brookfield to Back...     0.160    0.705
9   Microsoft's Earnings Results Show It's Deliver...     0.000    0.714
10  3 Spatial Computing Stocks That Will Dominate ...     0.143    0.857
11       2 Dominant AI Companies to Buy and 1 to Sell     0.000    1.000
12  Brookfield Up 1% in U.S. Premarket After Renew...     0.000    0.775
..                                                ...       ...      ...
95  Arista Stock Has Been Under Pressure. Why an A...     0.145    0.855
96  AI tech battle: Pick Microsoft over Meta, anal...     0.245    0.755
97  AI Jackpot: 7 Machine Learning Stocks to Doubl...     0.000    1.000
98  Microsoft and Alphabet demonstrated the curren...     0.000    0.833
99  Amazon Earnings Preview: Investors Watching AW...     0.000    0.677

    Positive  Overall
8      0.135  -0.1027
9      0.286   0.7003
10     0.000  -0.1280
11     0.000   0.0000
12     0.225   0.4939
..       ...      ...
95     0.000  -0.2960
96     0.000  -0.3818
97     0.000   0.0000
98     0.167   0.3818
99     0.323   0.5106

[70 rows x 9 columns]

In [15]:
# select historical ranges of dates
msft = yf.Ticker("MSFT")
hist = msft.history(period="2y") # 5 years of data
# msft.history_metadata

In [16]:
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-05-01 00:00:00-04:00,124.250505,124.364728,121.556648,121.727989,26821700,0.0,0.0
2019-05-02 00:00:00-04:00,121.823182,121.842217,119.481521,120.138329,27350200,0.0,0.0
2019-05-03 00:00:00-04:00,121.233013,123.203423,121.128305,122.698921,24911100,0.0,0.0
2019-05-06 00:00:00-04:00,120.309660,122.375265,120.043132,121.984985,24239800,0.0,0.0
2019-05-07 00:00:00-04:00,120.376310,121.061674,118.244073,119.481529,36017700,0.0,0.0

In [17]:
# randomly select 30 days of data
import random
import numpy as np

random.seed(42)
random_dates = random.sample(list(hist.index), 30)
random_dates = np.sort(random_dates)
random_dates

array([Timestamp('2019-05-20 00:00:00-0400', tz='America/New_York'),
       Timestamp('2019-07-15 00:00:00-0400', tz='America/New_York'),
       Timestamp('2019-07-18 00:00:00-0400', tz='America/New_York'),
       Timestamp('2019-07-29 00:00:00-0400', tz='America/New_York'),
       Timestamp('2019-08-02 00:00:00-0400', tz='America/New_York'),
       Timestamp('2020-01-14 00:00:00-0500', tz='America/New_York'),
       Timestamp('2020-02-03 00:00:00-0500', tz='America/New_York'),
       Timestamp('2020-02-28 00:00:00-0500', tz='America/New_York'),
       Timestamp('2020-03-26 00:00:00-0400', tz='America/New_York'),
       Timestamp('2020-06-17 00:00:00-0400', tz='America/New_York'),
       Timestamp('2020-08-14 00:00:00-0400', tz='America/New_York'),
       Timestamp('2020-12-09 00:00:00-0500', tz='America/New_York'),
       Timestamp('2021-02-08 00:00:00-0500', tz='America/New_York'),
       Timestamp('2021-02-12 00:00:00-0500', tz='America/New_York'),
       Timestamp('2021-02-23 00:00:00-0500', tz='America/New_York'),
       Timestamp('2021-03-22 00:00:00-0400', tz='America/New_York'),
       Timestamp('2021-04-27 00:00:00-0400', tz='America/New_York'),
       Timestamp('2021-07-26 00:00:00-0400', tz='America/New_York'),
       Timestamp('2021-08-03 00:00:00-0400', tz='America/New_York'),
       Timestamp('2022-02-02 00:00:00-0500', tz='America/New_York'),
       Timestamp('2022-09-27 00:00:00-0400', tz='America/New_York'),
       Timestamp('2022-10-04 00:00:00-0400', tz='America/New_York'),
       Timestamp('2022-10-05 00:00:00-0400', tz='America/New_York'),
       Timestamp('2022-12-21 00:00:00-0500', tz='America/New_York'),
       Timestamp('2023-06-08 00:00:00-0400', tz='America/New_York'),
       Timestamp('2023-10-05 00:00:00-0400', tz='America/New_York'),
       Timestamp('2023-11-21 00:00:00-0500', tz='America/New_York'),
       Timestamp('2024-02-14 00:00:00-0500', tz='America/New_York'),
       Timestamp('2024-02-20 00:00:00-0500', tz='America/New_York'),
       Timestamp('2024-03-22 00:00:00-0400', tz='America/New_York')],
      dtype=object)